/*CSS Reset*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	color: #f2f2f2; /* off white */
	/* default font*/
	font-family: 'Raleway', sans-serif;
}
/* target the html element called body */
/* start body */
body {
	background: linear-gradient(to bottom, rgba(175, 181, 170, 0.3), rgba(201, 213, 189, 0.73)),
                            url('../images/bg.jpg');
	/*background-image: url("../images/bg.jpg");*/
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	/* viewport height is the height of the screen */
	height:100vh;
	
}	

/* end body */
.container {
	width:500px;
	margin:0 auto; /* this centers the element horizontally */
	text-align: center;
}
/* start h1 */
h1{
	font-size:50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #495261;
	border-radius: 10px;
	font-family: 'Raleway, sans-serif;
}	
/* end h1 */

/* start h2 */
h2 {
	color:yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #495261;
	border-radius: 10px;
	font-family: 'Inconsolata', sans-serif;
	/*margin: 10px; adds space outside the element*/
	padding: 10px; /* adds space inside the element*/
}

.bio {
	font-size: 18px;
	color:#000;
	/*background-color: rgba(51, 51, 51, 0.5);*/
	/* multiplied to the current line height */
	line-height: 1.75;
	opacity:0.5;
}	
/* end bio */	
/* targets the element with the id me*/
#me {
	height: 200px;	
	width:200px;
	border-radius: 50%;
	border-color: black;
	border-width: px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
